<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to lists_path, class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'My lists', lists_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'New List', new_list_path, class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<div class="container">
<div class="row">

  <% @lists.each do |list| %>
  <div class="cards col-3 my-3" style="--bs-gap: 1rem;">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("nkxvy5xd9fmqi4rujhky", width: 400, height: 300, crop: :fill) %>)">
    <%= link_to list.name, list_path(list), class: "text-decoration-none text-reset" %>
    <%= link_to "X", list_path(list), data: {turbo_method: :delete} %>
    </div>
  </div>
  <% end  %>


<%= cl_image_tag("nkxvy5xd9fmqi4rujhky", width: 400, height: 300, crop: :fill) %>
